.rai-activity-indicator {
  display: flex !important;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #3E3E3E;
  z-index: 99999999;
}
