.picker {
  position: fixed;
  z-index: 999;
  bottom: 0;
  background-color: #f0f0f0;
  width: 100vw;
  left:0;
  color: black;
  height: 140px;
  max-height: 140px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  transition: max-height 0.2s;
  opacity: 1;
}

.picker[aria-expanded="false"] {
  max-height: 0;
  opacity: 0;
}

.picker[aria-expanded="false"] .picker__top{
  opacity: 0;
}

.picker__top{
  position: absolute;
  top: -24px;
  background-color: inherit;
  width: 100vw;
  text-align: right;
}

.picker__ui-fade {
  position: fixed;
  width: 100vw;
  height: 150px;
  background-image:
    linear-gradient(to bottom,
      rgba(240,240,240, 1),
      transparent 30%
      ),
    linear-gradient(to top,
      rgba(240,240,240, 1),
      transparent 30%
      );
  pointer-events: none;
}

.picker__btn-done {
  font-weight: bold;
  color: #65a2ff;
}

.picker__column {
  flex: 1;
  text-align: center;
  overflow-y: scroll;
}

.picker__value {
  box-sizing: border-box;
  height: 28px;
  width: 100%;
  display: block;
  transition: transform 0.3s;
}

.picker__index_3, .picker__index_-3 {
  transform: scale(0.6, 0.6);
}

.picker__index_2, .picker__index_-2 {
  transform: scale(0.7, 0.7);
}

.picker__index_1, .picker__index_-1 {
  transform: scale(0.85, 0.85);
}

.picker__index_0 {
  transform: scale(1,1);

}

.picker__capture-line {
  height: 28px;
  width: 100%;
  border: solid 1px rgba(0,0,0,0.2);
  border-left: none;
  border-right: none;
  position: fixed;
  bottom: 57px;
  opacity: 1;
  transition: all 0.3s;
}

.picker[aria-expanded="false"] .picker__capture-line{
  opacity: 0;
  width: 0;
}
